USE [master]
GO
/****** Object:  Database [ExpenseManager]    Script Date: 13-01-2023 11:29:06 ******/
CREATE DATABASE [ExpenseManager]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ExpenseManager', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\ExpenseManager.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ExpenseManager_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\ExpenseManager_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ExpenseManager].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ExpenseManager]
GO
USE [ExpenseManager]
GO
/****** Object:  Schema [Master]    Script Date: 13-01-2023 11:29:07 ******/
CREATE SCHEMA [Master]
GO
/****** Object:  Schema [Reports]    Script Date: 13-01-2023 11:29:07 ******/
CREATE SCHEMA [Reports]
GO
/****** Object:  Schema [Transactions]    Script Date: 13-01-2023 11:29:07 ******/
CREATE SCHEMA [Transactions]
GO
/****** Object:  Table [Master].[Category]    Script Date: 13-01-2023 11:29:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Master].[Category](
	[CategoryID] [bigint] IDENTITY(1,1) NOT NULL,
	[CategoryCode] [varchar](50) NULL,
	[CategoryName] [varchar](150) NULL,
	[ExpenseType] [varchar](25) NULL,
	[Budget] [decimal](18, 2) NULL,
	[IsActive] [bit] NULL,
	[IsVoid] [bit] NULL,
	[CreatedOn] [datetime] NULL,
	[CreatedBy] [int] NULL,
	[ModifiedOn] [datetime] NULL,
	[ModifiedBy] [int] NULL,
 CONSTRAINT [PK__Category__19093A2B0FCB1E4D] PRIMARY KEY CLUSTERED 
(
	[CategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Master].[RolePermission]    Script Date: 13-01-2023 11:29:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Master].[RolePermission](
	[RolePermissionId] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NULL,
	[UserRoleId] [int] NULL,
	[IsActive] [bit] NULL,
	[IsVoid] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[RolePermissionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Master].[SubCategory]    Script Date: 13-01-2023 11:29:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Master].[SubCategory](
	[SubCategoryID] [bigint] IDENTITY(1,1) NOT NULL,
	[CategoryID] [bigint] NULL,
	[SubCategoryCode] [varchar](50) NULL,
	[SubCategoryName] [varchar](150) NULL,
	[IsActive] [bit] NULL,
	[IsVoid] [bit] NULL,
	[CreatedOn] [datetime] NULL,
	[CreatedBy] [int] NULL,
	[ModifiedOn] [datetime] NULL,
	[ModifiedBy] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[SubCategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Master].[UserProfile]    Script Date: 13-01-2023 11:29:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Master].[UserProfile](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [varchar](50) NULL,
	[LastName] [varchar](50) NULL,
	[EmailId] [varchar](100) NULL,
	[Password] [varchar](100) NULL,
	[PhoneNo] [varchar](20) NULL,
	[IsActive] [bit] NULL,
	[IsVoid] [bit] NULL,
	[CreatedOn] [datetime] NULL,
	[CreatedBy] [int] NULL,
	[ModifiedOn] [datetime] NULL,
	[ModifiedBy] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Master].[UserRole]    Script Date: 13-01-2023 11:29:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Master].[UserRole](
	[UserRoleId] [int] IDENTITY(1,1) NOT NULL,
	[RoleName] [varchar](50) NULL,
	[IsActive] [bit] NULL,
	[IsVoid] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[UserRoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Reports].[Expenses]    Script Date: 13-01-2023 11:29:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Reports].[Expenses](
	[ExpenseNo] [bigint] NULL,
	[ExpenseCode] [varchar](50) NULL,
	[ExpenseDate] [datetime] NULL,
	[Category] [varchar](100) NULL,
	[Budget] [nchar](10) NULL,
	[SubCategory] [varchar](100) NULL,
	[ExpenseAmount] [nchar](10) NULL,
	[BalanceAmount] [nchar](10) NULL,
	[Note] [varchar](250) NULL,
	[ReportValue] [varchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [Transactions].[Expense]    Script Date: 13-01-2023 11:29:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Transactions].[Expense](
	[ExpenseID] [bigint] IDENTITY(1,1) NOT NULL,
	[ExpenseNo] [bigint] NOT NULL,
	[ExpenseCode] [varchar](50) NULL,
	[ExpenseDate] [datetime] NULL,
	[CategoryID] [bigint] NULL,
	[SubCategoryID] [bigint] NULL,
	[ExpenseAmount] [decimal](18, 2) NULL,
	[Note] [varchar](250) NULL,
	[IsActive] [bit] NULL,
	[IsVoid] [bit] NULL,
	[CreatedOn] [datetime] NULL,
	[CreatedBy] [int] NULL,
	[ModifiedOn] [datetime] NULL,
	[ModifiedBy] [int] NULL,
 CONSTRAINT [PK__Expense__1445CFF379AF20F1] PRIMARY KEY CLUSTERED 
(
	[ExpenseID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Transactions].[ExpenseReceipts]    Script Date: 13-01-2023 11:29:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Transactions].[ExpenseReceipts](
	[ReceiptID] [bigint] IDENTITY(1,1) NOT NULL,
	[ExpenseID] [bigint] NULL,
	[ExpenseCode] [varchar](50) NULL,
	[ReceiptName] [varchar](50) NULL,
	[ReceiptFile] [varchar](max) NULL,
	[IsActive] [bit] NULL,
	[IsVoid] [bit] NULL,
	[CreatedOn] [datetime] NULL,
	[CreatedBy] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ReceiptID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [Master].[Category]  WITH CHECK ADD  CONSTRAINT [FK_Category_UserProfile] FOREIGN KEY([CreatedBy])
REFERENCES [Master].[UserProfile] ([UserId])
GO
ALTER TABLE [Master].[Category] CHECK CONSTRAINT [FK_Category_UserProfile]
GO
ALTER TABLE [Master].[RolePermission]  WITH CHECK ADD FOREIGN KEY([UserId])
REFERENCES [Master].[UserProfile] ([UserId])
GO
ALTER TABLE [Master].[RolePermission]  WITH CHECK ADD FOREIGN KEY([UserRoleId])
REFERENCES [Master].[UserRole] ([UserRoleId])
GO
ALTER TABLE [Master].[SubCategory]  WITH CHECK ADD  CONSTRAINT [FK__SubCatego__Categ__2D27B809] FOREIGN KEY([CategoryID])
REFERENCES [Master].[Category] ([CategoryID])
GO
ALTER TABLE [Master].[SubCategory] CHECK CONSTRAINT [FK__SubCatego__Categ__2D27B809]
GO
ALTER TABLE [Master].[SubCategory]  WITH CHECK ADD  CONSTRAINT [FK_SubCategory_UserProfile] FOREIGN KEY([CreatedBy])
REFERENCES [Master].[UserProfile] ([UserId])
GO
ALTER TABLE [Master].[SubCategory] CHECK CONSTRAINT [FK_SubCategory_UserProfile]
GO
ALTER TABLE [Transactions].[Expense]  WITH CHECK ADD  CONSTRAINT [FK__Expense__Categor__300424B4] FOREIGN KEY([CategoryID])
REFERENCES [Master].[Category] ([CategoryID])
GO
ALTER TABLE [Transactions].[Expense] CHECK CONSTRAINT [FK__Expense__Categor__300424B4]
GO
ALTER TABLE [Transactions].[Expense]  WITH CHECK ADD  CONSTRAINT [FK__Expense__SubCate__30F848ED] FOREIGN KEY([SubCategoryID])
REFERENCES [Master].[SubCategory] ([SubCategoryID])
GO
ALTER TABLE [Transactions].[Expense] CHECK CONSTRAINT [FK__Expense__SubCate__30F848ED]
GO
ALTER TABLE [Transactions].[Expense]  WITH CHECK ADD  CONSTRAINT [FK_Expense_UserProfile] FOREIGN KEY([CreatedBy])
REFERENCES [Master].[UserProfile] ([UserId])
GO
ALTER TABLE [Transactions].[Expense] CHECK CONSTRAINT [FK_Expense_UserProfile]
GO
ALTER TABLE [Transactions].[ExpenseReceipts]  WITH CHECK ADD  CONSTRAINT [FK__ExpenseRe__Expen__33D4B598] FOREIGN KEY([ExpenseID])
REFERENCES [Transactions].[Expense] ([ExpenseID])
GO
ALTER TABLE [Transactions].[ExpenseReceipts] CHECK CONSTRAINT [FK__ExpenseRe__Expen__33D4B598]
GO
/****** Object:  StoredProcedure [dbo].[GetExpenseReport]    Script Date: 13-01-2023 11:29:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--exec [dbo].[GetExpenseReport] 'Yearly'  
    
CREATE  PROCEDURE [dbo].[GetExpenseReport](    
@ReportType varchar(50)    
)    
    As    
    BEGIN           
    DECLARE @Balance decimal;    
    Delete from Reports.Expenses  
    Create table #tempExpenseReport(    
    [IndexID] INT IDENTITY(1, 1) NOT NULL,    
    ExpenseId INT,    
    ExpenseNo INT,    
    ExpenseCode nvarchar(100),    
    ExpenseDate nvarchar(100),    
    ReceiptName nvarchar(50),    
    ExpenseAmount decimal,    
    CategoryId int,    
    CategoryName nvarchar(50),    
    SubCategoryId int,    
    SubCategoryName nvarchar(50),   
    Budget decimal);   
    Insert into #tempExpenseReport     
SELECT     
    ex.ExpenseId as ExpenseId,    
    ExpenseNo as ExpenseNo,    
    ex.ExpenseCode as ExpenseCode,    
    convert(varchar,ExpenseDate,101) as ExpenseDate,    
    ReceiptName AS ReceiptName,    
    ex.ExpenseAmount AS ExpenseAmount,    
    ex.CategoryId As CategoryId,    
    CategoryName as CategoryName,      
    ex.SubCategoryId As CategoryId,    
    SubCategoryName as CategoryName,    
    Budget as Budget    
   FROM Transactions.Expense ex left join Transactions.ExpenseReceipts er on er.ExpenseID = ex.ExpenseID    
   left join Master.Category ct on ct.CategoryID = ex.CategoryID    
   left join Master.SubCategory sct on sct.SubCategoryID = ex.SubCategoryID    
    Where     
    Isnull(ex.IsVoid,0)=0    
    if(@ReportType = 'Daily')    
    begin    
    print 'daily'    
     insert into Reports.Expenses  
 SELECT   
    ExpenseNo as ExpenseNo,    
    ex.ExpenseCode as ExpenseCode,    
    convert(varchar,ExpenseDate,101) as ExpenseDate,   
    CategoryName as Category,      
    Budget as Budget,      
    SubCategoryName as SubCategory,  
    ex.ExpenseAmount AS ExpenseAmount,    
    0 as Balance,        
    Note,convert(varchar,GetDate(),101)   
   FROM Transactions.Expense ex left join Transactions.ExpenseReceipts er on er.ExpenseID = ex.ExpenseID    
   left join Master.Category ct on ct.CategoryID = ex.CategoryID    
   left join Master.SubCategory sct on sct.SubCategoryID = ex.SubCategoryID    
    Where     
    Isnull(ex.IsVoid,0)=0  and convert(varchar,ExpenseDate,101) =convert(varchar,GetDate(),101)    
    end    
    if(@ReportType = 'Weekly')    
    begin    
       insert into Reports.Expenses  
 SELECT   
    ExpenseNo as ExpenseNo,    
    ex.ExpenseCode as ExpenseCode,    
    convert(varchar,ExpenseDate,101) as ExpenseDate,   
    CategoryName as Category,      
    Budget as Budget,      
    SubCategoryName as SubCategory,  
    ex.ExpenseAmount AS ExpenseAmount,    
    0 as Balance,        
    Note,CONVERT(nvarchar,DATEADD(d,-7,    
        CONVERT(nvarchar(10),GETDATE(),105)))+' to '+ CONVERT(nvarchar(10),GETDATE(),105)
   FROM Transactions.Expense ex left join Transactions.ExpenseReceipts er on er.ExpenseID = ex.ExpenseID    
   left join Master.Category ct on ct.CategoryID = ex.CategoryID    
   left join Master.SubCategory sct on sct.SubCategoryID = ex.SubCategoryID    
    Where     
    Isnull(ex.IsVoid,0)=0 and CONVERT(nvarchar(10),ExpenseDate,101) BETWEEN DATEADD(d,-7,    
        CONVERT(nvarchar(10),GETDATE(),101)) AND CONVERT(nvarchar(10),GETDATE(),101)     
    end    
    if(@ReportType = 'Monthly')    
    begin    
        insert into Reports.Expenses  
 SELECT   
    ExpenseNo as ExpenseNo,    
    ex.ExpenseCode as ExpenseCode,    
    convert(varchar,ExpenseDate,101) as ExpenseDate,   
    CategoryName as Category,      
    Budget as Budget,      
    SubCategoryName as SubCategory,  
    ex.ExpenseAmount AS ExpenseAmount,    
    0 as Balance,        
    Note,CONVERT(nvarchar,DATEADD(d,-30,    
    CONVERT(nvarchar(10),GETDATE(),101)),105)+' to '+ CONVERT(nvarchar(10),GETDATE(),105)  
   FROM Transactions.Expense ex left join Transactions.ExpenseReceipts er on er.ExpenseID = ex.ExpenseID    
   left join Master.Category ct on ct.CategoryID = ex.CategoryID    
   left join Master.SubCategory sct on sct.SubCategoryID = ex.SubCategoryID    
    Where     
    Isnull(ex.IsVoid,0)=0  and CONVERT(nvarchar(10),ExpenseDate,101) BETWEEN DATEADD(d,-30,    
    CONVERT(nvarchar(10),GETDATE(),101)) AND CONVERT(nvarchar(10),GETDATE(),101)     
    end    
    if(@ReportType = 'Yearly')    
    begin    
    DECLARE @Current_DateTime DATETIME= SYSDATETIMEOFFSET() AT TIME ZONE 'India Standard Time';     
    Declare @FinancialYear_StartDate Date,@FinancialYear_EndDate Date     
    Select @FinancialYear_StartDate= DATEFROMPARTS(Yr, 4, 1),    
    @FinancialYear_EndDate = DATEFROMPARTS(Yr + 1, 3, 31)     
    FROM    
    (SELECT CASE WHEN DATEPART(MONTH, @Current_DateTime ) < 4     
    THEN DATEPART(YEAR, @Current_DateTime ) - 1 ELSE DATEPART(YEAR, @Current_DateTime ) END Yr) a;    
        insert into Reports.Expenses  
 SELECT   
    ExpenseNo as ExpenseNo,    
    ex.ExpenseCode as ExpenseCode,    
    convert(varchar,ExpenseDate,101) as ExpenseDate,   
    CategoryName as Category,      
    Budget as Budget,      
    SubCategoryName as SubCategory,  
    ex.ExpenseAmount AS ExpenseAmount,    
    0 as Balance,        
    Note,convert(varchar,@FinancialYear_StartDate,105) +' to '+ Convert(varchar,@FinancialYear_EndDate,105) 
   FROM Transactions.Expense ex left join Transactions.ExpenseReceipts er on er.ExpenseID = ex.ExpenseID    
   left join Master.Category ct on ct.CategoryID = ex.CategoryID    
   left join Master.SubCategory sct on sct.SubCategoryID = ex.SubCategoryID    
    Where     
    Isnull(ex.IsVoid,0)=0 and  convert(varchar,ExpenseDate,101) BETWEEN  @FinancialYear_StartDate    
        and @FinancialYear_EndDate    
    end    
	select * from Reports.Expenses
end 
GO
/****** Object:  StoredProcedure [dbo].[GetxpenseReportList]    Script Date: 13-01-2023 11:29:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--exec [dbo].[GetxpenseReportList] 'Daily',10,1  
  
   
  
CREATE  PROCEDURE [dbo].[GetxpenseReportList](  
@ReportType varchar(50) ,  
@PageSize INT = 0,  
@PageIndex INT = 2147483644,  
@OrderBy VARCHAR(50) = '0',  
@OrderType VARCHAR(4) = 'asc',  
@Result NVARCHAR(MAX)=NULL OUTPUT   
)  
    As  
    BEGIN        
       -- --for paging           
    DECLARE @PageLowerBound INT;  
    DECLARE @PageUpperBound INT;  
    DECLARE @RowsToReturn INT;  
    DECLARE @TotalCount INT;  
    DECLARE @Balance decimal;  
    SET @RowsToReturn = @PageSize;  
    IF (@PageIndex > 1)  
    BEGIN  
        SET @PageLowerBound = ((@PageSize * @PageIndex) - @PageSize) + 1;  
        SET @PageUpperBound = @PageIndex * @PageSize;  
    END;  
    ELSE  
    BEGIN  
        SET @PageLowerBound = @PageIndex;  
        SET @PageUpperBound = @PageSize;  
    END;  
  
    print @PageLowerBound;  
    print @PageUpperBound;  
  
   
  
    Create table #tempExpenseReport(  
    [IndexID] INT IDENTITY(1, 1) NOT NULL,  
    ExpenseId INT,  
    ExpenseNo INT,  
    ExpenseCode nvarchar(100),  
    ExpenseDate nvarchar(100),  
    ReceiptName nvarchar(50),  
    ExpenseAmount decimal,  
    CategoryId int,  
    CategoryName nvarchar(50),  
    Budget decimal);  
    Insert into #tempExpenseReport   
SELECT   
    ex.ExpenseId as ExpenseId,  
    ExpenseNo as ExpenseNo,  
    ex.ExpenseCode as ExpenseCode,  
    convert(varchar,ExpenseDate,101) as ExpenseDate,  
    ReceiptName AS ReceiptName,  
    ex.ExpenseAmount AS ExpenseAmount,  
    ex.CategoryId As CategoryId,  
    CategoryName as CategoryName,  
    Budget as Budget  
   FROM Transactions.Expense ex left join Transactions.ExpenseReceipts er on er.ExpenseID = ex.ExpenseID  
   left join Master.Category ct on ct.CategoryID = ex.CategoryID  
    Where   
    Isnull(ex.IsVoid,0)=0  ORDER BY  
case when @OrderBy = '1' and @OrderType ='desc' then ex.ExpenseCode end desc,      
case when @OrderBy = '1' and @OrderType ='asc' then ex.ExpenseCode  end asc,     
case when @OrderBy = '2' and @OrderType ='desc' then ExpenseDate end desc,      
case when @OrderBy = '2' and @OrderType ='asc' then ExpenseDate  end asc,     
case when @OrderBy = '3' and @OrderType ='desc' then ReceiptName end desc,      
case when @OrderBy = '3' and @OrderType ='asc' then ReceiptName  end asc,     
case when @OrderBy = '4' and @OrderType ='desc' then CategoryName end desc,      
case when @OrderBy = '4' and @OrderType ='asc' then CategoryName  end asc;  
        SET @TotalCount = (SELECT COUNT(*) FROM #tempExpenseReport);  
    if(@ReportType = 'Daily')  
    begin  
    print 'daily'  
        select @Balance =ExpenseAmount from Transactions.Expense   
        select TOP (@RowsToReturn) IndexID,ExpenseId,ExpenseNo,ExpenseCode,ExpenseDate as ExpensesDate,ReceiptName,  
        CategoryId,CategoryName as Category,Budget,ExpenseAmount ,Isnull(@Balance,0) as Balance,Isnull(@TotalCount,0) as FilterCount from #tempExpenseReport  
        WHERE   
        IndexID >= @PageLowerBound AND IndexID <= @PageUpperBound   AND  
         convert(varchar,ExpenseDate,101) =convert(varchar,GetDate(),101)  
        print @RowsToReturn  
    end  
    if(@ReportType = 'Weekly')  
    begin  
        select @Balance =ExpenseAmount from Transactions.Expense   
        select TOP (@RowsToReturn) IndexID,ExpenseId,ExpenseNo,ExpenseCode,ExpenseDate as ExpensesDate,ReceiptName,ExpenseAmount ,  
        CategoryId,CategoryName as Category,Budget,Isnull(@Balance,0) as Balance,Isnull(@TotalCount,0) as FilterCount from #tempExpenseReport  
        WHERE IndexID >= @PageLowerBound AND IndexID <= @PageUpperBound and ExpenseDate BETWEEN DATEADD(d,-7,  
        CONVERT(nvarchar(10),GETDATE(),101)) AND CONVERT(nvarchar(10),GETDATE(),101)   
    end  
    if(@ReportType = 'Monthly')  
    begin  
        select @Balance =ExpenseAmount from Transactions.Expense   
        select TOP (@RowsToReturn) IndexID,ExpenseId,ExpenseNo,ExpenseCode,ExpenseDate as ExpensesDate,ReceiptName,ExpenseAmount ,  
        CategoryId,CategoryName as Category,Budget,Isnull(@Balance,0) as Balance,Isnull(@TotalCount,0) as FilterCount from #tempExpenseReport  
        WHERE IndexID >= @PageLowerBound AND IndexID <= @PageUpperBound    and ExpenseDate BETWEEN DATEADD(d,-30,  
    CONVERT(nvarchar(10),GETDATE(),101)) AND CONVERT(nvarchar(10),GETDATE(),101)   
    end  
    if(@ReportType = 'Yearly')  
    begin  
    DECLARE @Current_DateTime DATETIME= SYSDATETIMEOFFSET() AT TIME ZONE 'India Standard Time';   
    Declare @FinancialYear_StartDate Date,@FinancialYear_EndDate Date   
    Select @FinancialYear_StartDate= DATEFROMPARTS(Yr, 4, 1),  
    @FinancialYear_EndDate = DATEFROMPARTS(Yr + 1, 3, 31)   
    FROM  
    (SELECT CASE WHEN DATEPART(MONTH, @Current_DateTime ) < 4   
    THEN DATEPART(YEAR, @Current_DateTime ) - 1 ELSE DATEPART(YEAR, @Current_DateTime ) END Yr) a;  
        select @Balance =ExpenseAmount from Transactions.Expense   
        select TOP (@RowsToReturn) IndexID,ExpenseId,ExpenseNo,ExpenseCode,ExpenseDate as ExpensesDate,ReceiptName,ExpenseAmount ,  
        CategoryId,CategoryName as Category,Budget,Isnull(@Balance,0) as Balance,Isnull(@TotalCount,0) as FilterCount from #tempExpenseReport  
        WHERE IndexID >= @PageLowerBound AND IndexID <= @PageUpperBound  and ExpenseDate BETWEEN  @FinancialYear_StartDate  
        and @FinancialYear_EndDate  
    end  
end 
GO
/****** Object:  StoredProcedure [dbo].[SP_GetExpenseCode]    Script Date: 13-01-2023 11:29:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_GetExpenseCode]  
as  
Begin  
Declare @ExpenseId int  
SELECT @ExpenseId=isnull(max(ExpenseNo),0)+1 FROM Transactions.Expense   
Declare @ExpenseCode varchar(25)  
Declare @Text varchar(4)  
set @Text='EXP/'  
SET @ExpenseCode= case when len(@ExpenseId)=1  
then @Text+'0000'+convert(varchar,@ExpenseId)  
when len(@ExpenseId)=2  
then @Text+'000'+convert(varchar,@ExpenseId)  
when len(@ExpenseId)=3  
then @Text+'00'+convert(varchar,@ExpenseId)  
when len(@ExpenseId)=4  
then @Text+'0'+convert(varchar,@ExpenseId)  
else @Text+'0'+convert(varchar,@ExpenseId) END  
  
select @ExpenseCode as ExpenseCode,@ExpenseId as ExpenseNo 
END
GO
/****** Object:  StoredProcedure [dbo].[SP_SubCategoryDetails]    Script Date: 13-01-2023 11:29:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_SubCategoryDetails] --SP_SubCategoryDetails 7
@ExpenseNo int
as
Begin
SELECT 
sub.SubCategoryID,
SubCategoryName as SubCategory,
ExpenseAmount as Amount,
Note
FROM Transactions.Expense Main
left outer join Master.SubCategory sub on sub.SubCategoryID=Main.SubCategoryID
WHERE ExpenseNo=@ExpenseNo
END
GO
/****** Object:  StoredProcedure [dbo].[SP_UploadReceipt]    Script Date: 13-01-2023 11:29:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_UploadReceipt]
@ExpenseNo int,
@ExpenseCode varchar(50),
@ReceiptName varchar(50),
@ReceiptFile varchar(max),
@CreatedOn datetime,
@CreatedBy int
as
Begin
Insert into Transactions.ExpenseReceipts 
(ExpenseID,ExpenseCode,ReceiptName,ReceiptFile,CreatedOn,CreatedBy)
values(@ExpenseNo,@ExpenseCode,@ReceiptName,@ReceiptFile,@CreatedOn,@CreatedBy)

Select Cast(1 as Bit)  
END
GO
USE [master]
GO
